<p>
    <h5 class="header-sticky bg-black text-white p-3 mb-0">The Fine Watch Club</h5>
    <p class="image-holder">
        <p class="image-container" style="background-image: url(images/luxury/luxury-banner.jpg);padding-top: 50%;"></p>
    </p>
    <p class="container bg-white">
        <h6 class="title">A new anniversary Breguet Marine to savour</h6>
        <p>As Breguet prepares to mark a notable anniversary we take a look at one of its most spectacular and innovative pieces the Marine Tourbillon Équation Marchante 5887</p>
        <p>The year 2021 might be notable for many reasons, but in watchmaking terms it is honorably distinguished as the 220th anniversary of the tourbillon, an invention patented by Abraham-Louis Breguet on 26 June 1801.</p>
        <p>Breguet plans to release a commemorative model this autumn, something we are very much looking forward to. But while we are waiting, it is worth noting that the brand at the pinnacle of the Swatch Group pyramid has never ceased to celebrate its traditions, creating watches that pay homage to the past while being reinforced by the latest technologies.</p>
        <p>Last year in particular, the stunning Double Tourbillon Quai de l'Horloge from the Classique collection delighted collectors, while the Marine line evokes the triple his- torical expertise of the brand founder expressed through a more contemporary, slimmer and more efficient interpretation.</p>
        <h6 class="title">The Marine Tourbillon Équation Marchante 5887</h6>
        <table class="table table-striped">
            <tbody>
                <tr>
                    <th>CASE:</th>
                    <td>18k rose gold with fluted caseband, sapphire back, water-resistant to 100m</td>
                </tr>
                <tr>
                    <th>DIAMETER:</th>
                    <td>43.9mm</td>
                </tr>
                <tr>
                    <th>MOVEMENT:</th>
                    <td>mechanical self-winding (Caliber 581DPE, 80-hour power reserve), 563 components, silicon balance spring and escape wheel, numbered and signed Breguet</td>
                </tr>
                <tr>
                    <th>FUNCTIONS:</th>
                    <td>hours, minutes (civile and solar), equation of time, perpetual calendar, power-reserve indication (between 7 and 9 o'clock)</td>
                </tr>
                <tr>
                    <th>DIAL:</th>
                    <td>slate-colored dial in gold, hand-engraved on a rose engine, numbered and signed Breguet, luminescent 18K rose gold open- tipped Breguet hands, solar minutes with a faceted gold sun</td>
                </tr>
                <tr>
                    <th>STRAP:</th>
                    <td>brown alligator leather strap with rose gold triple folding clasp</td>
                </tr>
            </tbody>
        </table>
    </p>
    <p class="p-3 bg-black text-light mb-4 clearfix">
        <img src="images/luxury/luxury1.png" class="rounded float-start me-3" alt="..." style="max-width: 50%;">
        <p>Always intrinsically linked to the tourbillon, Breguet offers a reminder through this Marine model that its inventor was also appointed official watchmaker to the French Royal Navy. As such, sophisticated horological complications such as the perpetual calendar and the equation of time hold no secrets for the venerable brand.</p>
        <p>Derived from the ultra-thin self-winding Caliber 581 equipped with a tourbillon, this movement features an optimized design incorporating recent innovations such as a titanium carriage with a peripheral gear wheel driving its rota- tion, as well as a silicon balance-spring and escape-wheel.</p>
        <p>Similarly, Breguet's designers have achieved a one-quarter reduction in the barrel thickness by cutting a groove around the drum and holding it in place by means of three externally placed bearings.</p>
        <p class="image-container mb-3 rounded" style="padding-top: 50%;">
            <img src="images/luxury/luxury2.png">
        </p>
        <p>Connoisseurs will recognize the function of the hand tipped with a sun, indicating the minutes of solar time (different from the minutes of civil time driven by the main gear train) thanks to differential gearing and a cam on a sapphire disk performing one revolution in a year, followed by a feeler that provides the value of the equation of time.</p>
        <p>As for the anchor-tipped hand, it provides a retrograde date display. So as to improve the legibility of all these indications, Breguet completes the perpetual calendar indications by apertures showing the day and month, which are unique in its collections. </p>
        <p>The power reserve is discreetly shown on an arc-shaped gauge at 8 o'clock. All this information is easily readable on the attractive anthracite dial featuring white and gold contrasts, above which the majestic tourbillon appears to be floating in mid-air.</p>
    </p>
    <h5 class="header-sticky bg-black text-white p-3 mb-0">The Maya Collection</h5>
    <p class="image-container" style="padding-top: 50%;">
        <img src="images/luxury/luxury-banner2.png">
    </p>
    <p class="container bg-white">
        <h4>The finest cuisine, views and experiences combine spectacularly</h4>
        <h6 class="title">In 2007, the J.V Pastor Group made its first venture into the world of high-end hospitality with the opening of the MayaBay restaurant in Monaco.</h6>
        <p>After having conquered the taste buds of Monegasques with its high quality Japanese cuisine, the gourmet MayaBay restaurant opened its doors to Thai cuisine in 2009. This was followed by the Mediterranean and Oriental restaurant Maya Jah in 2017 and the traditional Italian trattoria Maya Mia in 2018, all situated in the Principality of Monaco</p>
        <p> In 2019, They unveiled their first address in France, and a new chapter in the history book of Maya Collection began... Set in an exceptional natural landscape in Méribel, Refuge de la Traye is a luxurious mountain chalet providing the most refined destination for an exclusive holiday. </p>
        <p>Two years later, Maya Collection expanded its properties to the largest ski area in the world - the 3 valleys. At 2,300 meters high, the creation of a vibrent ski in - Ski out dining experience named Maya Altitute was popularised by the high-end brasserie style menu created  by Chef Stephane Desprez in collaboration with michelin starred chef Akrame. </p>
    </p>
    <p class="p-3 bg-black text-light clearfix">
        <p class="gallery mb-4">
            <p class="row g-2">
                <p class="col-6 col-md-6 col-lg-3 gallery-item">
                    <a href="images/events/gallery/event-g1.png" data-fancybox="gallery" data-caption="Image 1" class="img-box">
                        <img src="images/events/gallery/event-g1.png" alt="Thumbnail 1">
                    </a>
                </p>
                <p class="col-6 col-md-6 col-lg-3 gallery-item">
                    <a href="images/events/gallery/event-g2.png" data-fancybox="gallery" data-caption="Image 1" class="img-box">
                        <img src="images/events/gallery/event-g2.png" alt="Thumbnail 2">
                    </a>
                </p>
                <p class="col-6 col-md-6 col-lg-3 gallery-item">
                    <a href="images/events/gallery/event-g3.png" data-fancybox="gallery" data-caption="Image 1" class="img-box">
                        <img src="images/events/gallery/event-g3.png" alt="Thumbnail 3">
                    </a>
                </p>
                <p class="col-6 col-md-6 col-lg-3 gallery-item">
                    <a href="images/events/gallery/event-g4.png" data-fancybox="gallery" data-caption="Image 1" class="img-box">
                        <img src="images/events/gallery/event-g4.png" alt="Thumbnail 4">
                    </a>
                </p>
            </p>
        </p>
        <p>2022 saw the concept of Mayabay Monaco exported internationally with the opening of MayaBay Dubai in Jumeirah Al Naseem. The success was such that another franchise will open in 2023: MayaBay Riyadh on the iconic Prince Turki Ibn Abdulaziz Al Awwal Road in the heart of the Saudi capital.</p>
        <p>In 2024 Maya Collection will unveil its premium boutique hotel in the undeniably glamorous ski resort of Courchevel in the French Alps. Although Maya Hotel Courchevel will host a limited number of suites for the privilaged few, its ground floor will simultaniously host its very own MayaBay restaurant.</p>
    </p>
</p>
