@page "/login"
@* @layout null *@
@inject HttpClient Http
@inject NavigationManager Navigation

<div class="register-container">
    <div class="register-bg"></div>
<div class="register-section">
    <h5 class="text-white">Login</h5>
    <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 d-flex flex-column gap-3">
                    <input class="form-control" placeholder="Enter username" @bind="username" />
                    <input class="form-control" type="password" placeholder="Enter password" @bind="password" />
                    <button class="btn btn-primary w-100" @onclick="LoginUser">Login</button>
                    @if (!string.IsNullOrEmpty(errorMessage))
                    {
                        <p class="text-danger mt-2">@errorMessage</p>
                    }
                </div>
            </div>
    </div>
</div>
   @*  <p class="p-3 text-muted text-center mt-auto">New to IM Investor? <a href="#" class="btn-link">Register</a></p> *@
</div>
@code {
    private string username;
    private string password;
    private string errorMessage;

    private class LoginRequest
    {
        public string username { get; set; }
        public string password { get; set; }
    }

    private async Task LoginUser()
    {
        var loginData = new LoginRequest
            {
                username = username,
                password = password
            };

        try
        {
            var response = await Http.PostAsJsonAsync("https://platformfactory.uk:6888/api/Auth/login", loginData);

            if (response.IsSuccessStatusCode)
            {

                await SecureStorage.SetAsync("username", username);
                // You can read the token or result here if returned
                // var result = await response.Content.ReadFromJsonAsync<YourResponseModel>();
                Navigation.NavigateTo("/verify");
            }
            else
            {
                errorMessage = "Invalid username or password. Please Contact Admin";
            }
        }
        catch (Exception ex)
        {
            errorMessage = $"Login failed: {ex.Message}";
        }
    }
}
