@page "/verify"
@using Microsoft.Maui.Storage
@inject NavigationManager Navigation
@using MauiApp1.Services
@inject IJSRuntime JS
<div class="register-container">
    <div class="register-bg"></div>
    <div class="register-section">
        <h5 class="text-white">Hi @userName</h5>
        <div class="container">
            <div class="row">
                <div class="col-md-6 offset-md-3 d-flex flex-column gap-2">
                    <div class="mb-2"><i class="fas fa-sign-in-alt"></i> Login to <span class="fw-bold">IM Investor</span></div>

                    <!-- Fingerprint Login Only -->
                    <div class="tab-container">
                        <div class="tab-content mt-3">
                            <button class="btn btn-primary rounded-pill w-100 d-flex justify-content-center align-items-center" @onclick="LoginWithFingerprint">
                                <i class="fas fa-fingerprint fs-8 me-2"></i> Login with Fingerprint
                            </button>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </div>

    <div class="image-holder p-3 my-auto">
        <div class="image-container" style="padding-top: 40%;">
            <img src="images/banner1.png" />
        </div>
    </div>

    <div class="card border-0 mt-auto">
        <div class="card-body">
            <div class="row g-1">
                <div class="col-3 text-center">
                    <img src="images/icon/news.svg" style="height: 34px;margin-bottom: 0.5rem;"><br> News
                </div>
                <div class="col-3 text-center">
                    <img src="images/icon/event.svg" style="height: 34px;margin-bottom: 0.5rem;"><br> Event
                </div>
                <div class="col-3 text-center">
                    <img src="images/icon/invest.svg" style="height: 34px;margin-bottom: 0.5rem;"><br> Invest
                </div>
                <div class="col-3 text-center">
                    <img src="images/icon/yatch.svg" style="height: 34px;margin-bottom: 0.5rem;"><br> Yatching
                </div>
            </div>
        </div>
    </div>
</div>

@code {
    public string userName = "Guest";

    protected override async Task OnInitializedAsync()
    {
        try
        {
            userName = await SecureStorage.GetAsync("username");
            if (string.IsNullOrEmpty(userName))
            {
                Navigation.NavigateTo("/login");
            }
        }
        catch
        {
            Navigation.NavigateTo("/login");
        }
    }

    private async Task LoginWithFingerprint()
    {

        if (!SessionManager.IsAuthenticated)
        {
            var authService = new BiometricAuthService();
            bool success = await authService.AuthenticateAsync();

            if (success)
            {
                SessionManager.SetAuthenticated();
                // Simulated fingerprint verification
                Navigation.NavigateTo("/home");
            }
            else
            {
               Navigation.NavigateTo("/home");
            }
        }

    }
}
