@using MauiApp1.Services
@inherits LayoutComponentBase
@inject NavigationManager NavManager
@inject UserLocationService LocationService

<div class="page-wrapper full-height">
    <header class="header header-fixed">
        <div class="header-content">
            <div class="left-content">
                <img src="images/logo-white.svg" alt="logo" class="header-logo" /><span class="text-light fw-bold"> IM Investor</span>
            </div>
            <div class="mid-content"></div>
            <div class="right-content">
                <span class="btn text-light btn-dark border btn-sm">@_country</span>
                <a class="btn text-light btn-dark border btn-sm ms-1" @onclick="OpenModal"><i class="far fa-clone fs-5"></i></a>
            </div>
        </div>         
    </header>
    <main class="page-content space-top space-bottom">
        <article class="position-relative page-transition @transitionClass">
            <div class="input-group input-group-sm whatsapp-btn">
                <div class="input-group-text bg-success text-white border-0"><i class="fab fa-whatsapp fs-3"></i></div>
                <a href="https://api.whatsapp.com/send/?phone=%2B447979213225&amp;text=please+invite+me+to+the+Dubai+event&amp;type=phone_number&amp;app_absent=0" target="_blank" class="btn btn-success">Please invite me to the Dubai event</a>
            </div>
            @Body
        </article>
        @if (showModal)
        {
            <div class="modal d-block" tabindex="-1" style="background-color: rgba(0, 0, 0, 0.5);">
                <div class="modal-dialog modal-lg modal-dialog-centered">
                    <div class="modal-content shadow-lg">
                        <div class="modal-header">
                            <h5 class="modal-title">Yacht Emission Calculator</h5>
                            <button type="button" class="btn-close" @onclick="CloseModal"></button>
                        </div>
                        <div class="modal-body">
                            <form>
                                <div class="mb-3">
                                    <label for="distanceNm" class="form-label">Distance Travelled (nm)</label>
                                    <input type="number" class="form-control" id="distanceNm" placeholder="e.g., 150">
                                </div>
                                <div class="mb-3">
                                    <label for="fuelLPH" class="form-label">Fuel Consumption (L/hr)</label>
                                    <input type="number" class="form-control" id="fuelLPH" placeholder="e.g., 100">
                                </div>
                                <div class="mb-3">
                                    <label for="speedKnots" class="form-label">Average Speed (knots)</label>
                                    <input type="number" class="form-control" id="speedKnots" placeholder="e.g., 20">
                                </div>
                                <div class="mb-3">
                                    <label for="fuelType" class="form-label">Fuel Type</label>
                                    <select class="form-select" id="fuelType">
                                        <option disabled selected>Choose fuel type</option>
                                        <option value="Diesel">Diesel</option>
                                        <option value="Petrol">Petrol</option>
                                        <option value="LNG">LNG</option>
                                    </select>
                                </div>
                            </form>
                        </div>
                        <div class="modal-footer">
                            <button class="btn btn-secondary" @onclick="CloseModal">Close</button>
                            <button class="btn btn-primary">Calculate</button>
                        </div>
                    </div>
                </div>
            </div>
        }


    </main>
    <footer class="menubar-area footer-fixed bottom-tabs">       
        <div class="toolbar-inner menubar-nav bottom-scroll-tab">
            <NavLink href="/" class="tab nav-link" activeClass="active-tab" Match="NavLinkMatch.All">
                <img src="images/icon/news-white.svg" /> News
                </NavLink>
            <NavLink href="/singapore" class="tab nav-link" activeClass="active-tab">
                <img src="images/icon/event-white.svg" /> Event
                </NavLink>
            <NavLink href="/weather" class="tab nav-link" activeClass="active-tab">
                <img src="images/icon/invest-white.svg" />Invest
            </NavLink>
            <NavLink href="/business" class="tab nav-link" activeClass="active-tab">
                <img src="images/icon/yatch-white.svg" /> Yatching
                </NavLink>
        </div>
    </footer>
</div>
@code {
    private string transitionClass = "";
    private string _country;

    protected override async Task OnInitializedAsync()
    {

        NavManager.LocationChanged += (_, __) =>
        {
            transitionClass = "slide-in";
            StateHasChanged();
        };

        if (!SessionManager.IsAuthenticated)
        {
            var authService = new BiometricAuthService();
            bool success = await authService.AuthenticateAsync();

            if (success)
            {
                SessionManager.SetAuthenticated();
            }
            else
            {

            }
        }
        await FetchLocation();
    }
    private async Task FetchLocation()
    {
        var _location = await LocationService.GetUserLocationAndCountryAsync();
        _country = _location.Country;
    }
}

@code {
    private bool showModal = false;

    void OpenModal() => showModal = true;
    void CloseModal() => showModal = false;
}
