@inherits LayoutComponentBase
@inject NavigationManager NavManager
<div class="page-wrapper full-height">@* page *@
    @* <div class="sidebar">
        <NavMenu />
    </div> *@
    <header class="header header-fixed">
    <div class="header-content">
        <div class="left-content">
            <img src="images/logo-white.svg" alt="logo" class="header-logo" /><span class="text-light fw-bold"> IM Investor</span>
        </div>
        <div class="mid-content"></div>
        <div class="right-content"></div>
    </div>
</header>
    <main class="page-content">
        <article class="page-transition @transitionClass">
            <div class="position-relative">
            <div class="input-group input-group-sm whatsapp-btn">
    <div class="input-group-text bg-success text-white border-0"><i class="fab fa-whatsapp fs-3"></i></div>
    <a href="https://api.whatsapp.com/send/?phone=%2B447979213225&amp;text=please+invite+me+to+the+Dubai+event&amp;type=phone_number&amp;app_absent=0" target="_blank" class="btn btn-success">Please invite me to the Dubai event</a>
</div>
</div>
            @Body
        </article>
    </main>
    @* <footer class="menubar-area footer-fixed">bottom-tabs
        <div class="toolbar-inner menubar-nav bottom-scroll-tab">
            <NavLink href="/" class="tab nav-link" activeClass="active-tab" Match="NavLinkMatch.All">IM<br />Dubai</NavLink>
            <NavLink href="/singapore" class="tab nav-link" activeClass="active-tab">IM<br />Singapore</NavLink>
            <!--<NavLink href="/weather" class="tab nav-link" activeClass="active-tab">Yacht sale</NavLink>
            <NavLink href="/business" class="tab nav-link" activeClass="active-tab">Business</NavLink>-->
        </div>
    </footer>  *@
</div>
@code {
    private string transitionClass = "";

    protected override void OnInitialized()
    {
        NavManager.LocationChanged += (_, __) =>
        {
            transitionClass = "slide-in";
            StateHasChanged();
        };
    }
}